body {
    font-family: 'Open Sans', sans-serif;
}



.botones {
    margin-top: 20px;
    margin-right: 20px;

}

.bot{
    margin-right:70px;
}

.tex{
    text-align: justify;

}
 .h1principal{
     text-align: center;
 }

.escrolear{
   
    padding-top: 40px;
    
}


.box{
    height:300px ;
    width: 200px%;
    overflow: auto;
}